@page
@model InreachWebapp.Pages.UploadFileModel
@{
  
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method=post enctype="multipart/form-data">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <input type="file" asp-for="Upload" required/>
    <input type="submit"/>

    </form>
    
</div>
